html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background: #222;
  color: #ccc;
  font: 16px Arial, sans-serif;
  line-height: 1.2em;
}

.container {
  left: 0;
  right: 0;
  width: 1200px;
  height: 80%;
  margin: 0 auto;
  border: 1px solid #777;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-item {
  margin-right: 10px;
}

.QuestList {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  border-right: 1px solid #777;
}

.quest-list-tabs {
  padding: 12px 12px 0;
}

.button {
  display: inline-block;
  cursor: pointer;
}

.QuestList ul {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.QuestList li {
  padding: 10px 15px;
  cursor: pointer;
}
.QuestList li:hover {
  background: rgba(255,255,255,0.05);
}

.selected, .selected:hover {
  background: rgba(255,255,255,0.1) !important;
}

.QuestDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 18px 18px 10px;
}

.input {
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #444;
  background: rgba(0,0,0,0);
  color: #ccc;
  font: 16px Arial, sans-serif;
}

.quest-title-input {
  width: 100%;
  font-size: 18px;
  outline: none;
}
.quest-title-input:focus {
  border-bottom: 1px solid #aaa;
}

.quest-time-info {
  width: 100%;
  padding: 7px 0;
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #444;
}

.timestamp {
  color: #777;
}

.quest-details {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  resize: none;
  outline: none;
  overflow: hidden;
}
.quest-details:focus {
  border-bottom: 1px solid #aaa;
}

.quest-options-bar {
  width: 100%;
  padding: 10px 0 3px;
}

.Overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay-shade {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  pointer-events: auto;
}

.overlay-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  align-self: center;
  background: #222;
  border: 1px solid #777;
  text-align: center;
  pointer-events: auto;
}

.overlay-panel p {
  margin: 0;
}

.overlay-button {
  min-width: 80px;
  margin: 15px 5px 0;
  padding: 8px 15px;
  background: #222;
  color: #ccc;
  border: 1px solid #777;
  font: 16px Arial, sans-serif;
  cursor: pointer;
  outline: none;
}